
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
    padding: 9px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
/*B*/
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

}
.h1, h1 {
    font-size: 45px;
    font-family: 'Sedgwick Ave', cursive;
    color: #fcfcfc;
    text-shadow: 5px 5px 10px black;
    }
    
    .h2, h2 {
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Titillium Web';
    color: #6482ff;
    }
    .h5, h5 {
        font-size: 1.25rem;
        color: #fcfcfc;

    }
    .span{
    font-size: 18px;
    font-weight: 200;
    font-family: 'Titillium Web';
    color: #6482ff;
    
    }
    
    p{
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    }
    
    a{
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    }
    
 

.header{
    background-color: #6482FF;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*---SVG LOGO HAEM*/
#logo{
    width:150px;
    margin: 8px 0 0 0px;
    animation: fill 1s ease forwards 2.5s;
}
#logo path:nth-child(1){/*H*/
    stroke-dasharray: 917;
    stroke-dashoffset: 917;
    animation: line-anim 4s ease forwards 0.7s;
}
#logo path:nth-child(2){/*a*/
    stroke-dasharray: 886;
    stroke-dashoffset: 886;
    animation: line-anim 5s ease forwards 1.2s;
}
#logo path:nth-child(3){/*e*/
    stroke-dasharray: 704;
    stroke-dashoffset: 704;
    animation: line-anim 5s ease forwards 1.1s;   
}
#logo path:nth-child(4){ /*M*/
    stroke-dasharray: 1349;
    stroke-dashoffset: 1349;
    animation: line-anim 4s ease forwards 0.6s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:white;
    }
    
} 
/*---END SVG LOGO HAEM*/



/*---NAVEGADOR---*/

.nav{
    position:relative;
    display: flex;
    justify-content: space-between;   
    max-width: 992px;
    margin: 0 auto;
    z-index: 999;
}
.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu-link{
    padding: 22px 10px;
    border-radius: 3px;
    transition: 0.4s;
}
.nav-menu-link:hover{
    margin-top: 8px;
    border-radius: 33px;

    padding: 14px 10px;
    background-color:#5100ff;
    transition: 0.4s;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 32px;
}
.nav-menu-item{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.oculta_2{
    display: none;
}
/*---FIN DE NAVEGADOR---*/

/*SLIDER TWEENMAX*/
  #slider{
    margin-top: 20px;
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
  }
  
  .slider__container{
    position:relative;
    width:100%;
    height:100%;
    display:block;
    margin:0;
    padding:0;
    font-size:0;
    list-style:none;
    white-space:nowrap;
  }
  .slider__content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:16px;
    visibility:hidden
  }
  .slider__item{
    position:relative;
    height:100%;
    width:100%;
    display:inline-block;
  }
  .slider-controls{
    width:100%;
    position:absolute;
    top:50%;
    -webkit-transform:translate3d(0px, -50%, 0px);
    transform:translate3d(0px, -50%, 0px);
    z-index:1;

  }
  .slider-controls>.previous,.slider-controls>.next{
    position:absolute;
    width:100px;
    height:100px;
    display:block;
    cursor:pointer;
    border:none;
    outline:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /*background-size:25px; /*TAMAÑO FLECHA*/
    background-color:transparent;
    background-repeat:no-repeat;

  }
  .slider-controls>.next{
    right:0px;
    /*background-image:url("svg/arrow-right.svg")*/

  }
  .slider-controls>.previous{
    left:20px;
    /*background-image:url("svg/arrow-left.svg")*/
  }
  img, .img_anuncio{
    max-width:100%;
  }


/*---NAVEGADOR TWE 3X CIRCULOS*/
  .slider-navigation{
    position:absolute;
    left:0;
    right:0;
    bottom:32px;
    text-align:center
  }
  .slider-navigation>li{
    position:relative;
    display:inline-block;
    margin-right:12px
  }
  .slider-navigation>li>a{
    display:inline-block;
    width:15px;
    height:15px;
    border:3px solid #FFF;
    border-radius:50%;
    background:transparent;
    -webkit-transition:all 0.4s ease;
    transition:all 0.4s ease
  }
.slider-navigation>li>a.is-active{
      background:rgba(255,255,255,0.5);
      border-color:rgba(255,255,255,0)
}
  .anuncio{
    position:relative;
    box-sizing:border-box;
    background-color: goldenrod; 
}
  .rejilla{
    display:table
  }
  .rejilla>.column{
    width:50%;
    display:table-cell;
    vertical-align:middle
  }
  .rejilla>.column:first-child{
    text-align:right
  }
  .slider-burger{
    background:#CF624A
  }
  .slider-astronaut{
    background:#22231D
  }
  .slider-coffee{
    background:#836C54;
  }
  .title{
    font-size:100px;
    font-weight:100;color:#FFF;
    text-transform:uppercase;
    line-height:1;
    font-family:"Baloo Bhai", sans-serif;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
  }
 
/*--FIN DE TWEENMAX--*/




/*---NAVEGADOR APP---*/
.app{
    display: flex;
    justify-content: space-between;   
    max-width: 992px;
    margin: 0 auto;
    display: none;
}

.app-link{
    color: white;
    text-decoration: none;
    display: none;
    padding-bottom: 6px; /*superior de text hotel*/
}
.app-menu-link{
    padding: 10px 28px;
    border-radius: 3px;
    display: none;
}

.app-menu-link:hover{
    padding: 16px 12px;
    background-color:#5100ff;
    transition: 0.4s;
    display: none;
}
.app-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 32px;    
    display: none;
}
.app-menu-item{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    display: none;
}

/*---FIN NAVEGADOR APP---*/

/*---ICON NAVEGADOR APP--*/
.icon{
    justify-content: space-between;   
    display: none;
    text-decoration: none;
    font-size: 30px;

}
.icon-link a{
    color: white;
    text-decoration: none;
    display: none;
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: 1px;
    margin-left: 16px;
}

.icon, .icon-link ul li a{
    text-decoration: none;
    display: none;
}
/*---FIN DE ICON NAVEGADOR APP--*/

/*---DROPDOWN---*/
.dropdown{
    border-radius: 5px;
    position: relative;
    top: 3%;
}
.dropdown label{
    color: white;
    display: block;
    cursor: pointer;
}
.dropdown-menu-item{
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}
.dropdown-menu-link{
    padding: 22px 10px;
    border-radius: 3px;
    transition: 0.4s;
}
.dropdown-menu-link:hover{
    margin-top: 8px;
    border-radius: 33px;

    padding: 14px 10px;
    background-color:#5100ff;
    transition: 0.4s;
}
.dropdown ul{
    position:absolute;
    background: #6482FF;
    list-style: none;
    width: 120px;
    right: 0px;
    top: 94px;
    border-radius: 5px;
    display: none;
}
[id^=btn]:checked + ul{
    display: block;
}
.dropdown .sesion:before{ /*punta de menu*/
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    margin-left: 42px;/*punta posicion*/
    background: #6482FF;
    top: -8px;
    transform: rotate(45deg);
    z-index: -1;
    transition: 0.2s;
}
.dropdown ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 0px 12px;
}
.dropdown ul li a:hover, .dropdown ul li label:hover{
    color: rgb(185, 246, 43);
    transition: 0.4s;
}
.dropdown ul li{
    line-height: 40px;
    padding: 0;
    cursor: pointer;
    /*border-bottom: 1px solid red;*/
}
.dropdown ul ul {
    position: static;
}
.dropdown ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
.dropdown ul ul li{
    color: #6482FF;
    font-size: 14px;
}
.dropdown ul li span{
    font-size: 14px;
    float: right;
    margin-top: 10px;
}
input{
    display: none;
}

/*---FIN DE DROPDOWN---*/

/*--SEARCH--*/
.form-control_1 {
    margin-top: 22px;
    display: block;
    padding: 1px 3px 5px 8px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #ffffff;/*FILL DENTRO*/
    background-clip: padding-box;
    border: none;/*FILL LINEA*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px 5px 5px 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}
.btn-search{
    background-color: #5100ff;
    border:none;
    height: 31px;
    border-radius: 5px 0px 0px 5px;
    margin-top: 22px;
}
.btn-search:hover, .bi-search:hover{
    color: #a1caff;
}
/*--FIN DE SEARCH--*/

/*---USUARIO---*/
.usuario{
    padding: 22px 5px 5px 20px;
    border-radius: 5px;
    position: relative;
}
.usuario label{
    color: white;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-right: 5px;
}
.button_s span{ /*MODIFICACION bi bi-caret-down*/
    float: right;
    margin: 5px 10px 0 5px; 
    line-height: 15px;
}
.usuario ul{
    position:absolute;
    background: #6482FF;
    list-style: none;
    width: 115px;
    right: 1px;
    top: 94px;
    border-radius: 5px;
    display: none;
}
[id^=btn-2]:checked + ul{
    display: block;
}
.usuario .sesion:before{
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    background: #6482FF;
    right: 20px;
    top: -8px;
    transform: rotate(45deg);
    z-index: -1;
    transition: 0.2s;
}
.usuario ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 0px 12px;
}
.usuario ul li a:hover, .usuario ul li label:hover{
    color: rgb(185, 246, 43);
}
.usuario ul li{
    line-height: 40px;
    padding: 0;
    cursor: pointer;
 /*border-bottom: 1px solid red;*/
}
.usuario ul li label{
    font-size: 14px;
}
.usuario ul ul {
    position: static;
}
.usuario ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
.usuario ul ul li{
    color: #6482FF;
    font-size: 14px;
}
.usuario ul li span{
    font-size: 14px;
    float: right;
    margin-top: 10px;
}

/*circulo usuario*/
.circle-sesion{
    border-radius: 50%!important;
    width:32px;
    height:32px;
}

/*---FIN DE USUARIO---*/


.input{
    list-style: none;
    line-height: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
}
.input-bi{
    margin: 0 5px 0 10px;

}
.bi{ /*dropdown y usuario*/
    font-size: 14px;
    color: white;
}
.bi-caret-down::before {
    content: "\f22c";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    width: 25px;
    display: inline-block;
    font-display: block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*ICON OPEN AND CLOSE RESPONSIVE*/
.nav-toggle{/*icon open and close*/
    color: white;
    width:55px;
    height:55px;
    padding-left: 10px;
    background: none;
    border:none;
    display: none;
}
.line{/*icon open and close*/
    border-left: 1px solid rgb(160, 160, 160);
    border-right: 1px solid rgb(160, 160, 160);
    display: block;
}
/*END ICON OPEN AND CLOSE RESPONSIVE*/

/*---3X GRID---*/
.grid-container{
    display: flex;
    grid-template-columns: grid grid grid;
    /*background-color: #2196F3;*/
    padding: 10px;
    margin: 0px 80px 0 80px;
    gap: 10;
    justify-content: center;
    background-color: white;
 }
 .grid-item {
    padding: 20px;
    margin: 10px 10px 0px 10px;
    font-size: 30px;
    text-align: center;
    width: 400px;
 }

.line_borde{
    display: block;
    border-left: 1px solid rgb(160, 160, 160);
    border-right: 1px solid rgb(160, 160, 160);
  }



 
.photo-circulo{
    border-radius: 50%!important;
    width:140px;
    height:140px;

    transition: transform .9s; /* Animation */
    margin: 0 auto;
  }

  .photo-circulo:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }




/*---FIN 3X GRID---*/

    
/*---FOOTER---*/
.h5, h5 {
    font-size: 1.25rem;
}
/*CONFINAMIENTO*/


.seccion-columna{ /*OK*/
    padding-left: 20px;
    text-decoration: none;
}
.seccion-columna{/*OK*/
    flex-direction: column!important;
    text-decoration: none;
    list-style: none;
    /*background-color: greenyellow;*/
    padding-left: 10px;
}
.seccion-lista{ /*OK*/
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding-left: 1px;
    
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.boton { /*OK*/
    margin-left: 20px;
    margin-right: 20px;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.seccion { /*OK*/
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 18px




}
.columna-6 { /*OK*/
  flex: 0 0 auto;
  width: 15%;
}
.boton-primario{ /*OK*/
        margin-top: 10px;
      --bs-btn-color: #fff;
      --bs-btn-bg: #6482ff;
      --bs-btn-focus-shadow-rgb: 49,132,253;
      transition: 0.4s;
  }

  .boton-primario:hover{ /*OK*/
    margin-top: 10px;
    border-radius: 20px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #5100ff;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  transition: 0.4s;
}

.footer{ /*OK*/
      background-color: black;
      width: auto;
      padding-top: 20px;
      padding: 0 50px 0 50px;
      
}

/*---RRSS---*/ /*OK*/
.rr_ss{
    /* background-color: #7a7ef7; */
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0 28px 0 26px;   
    display: flex;
}
.bi_posicion{
    display: flex;
    margin-left: auto;
    padding: 0px 20px 0px 20px;
}

.ms-3{
    margin: 0px 10px 0px 10px;
}
.columna-new{
  margin-top: 20px;
}
.bi-github {
    content: "\F3ED";
    font-size: 24px;
    color:#fff;
}
.bi-github:hover {
    content: "\F3ED";
    font-size: 24px;
    color:#5100ff;
    text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
    transition: 0.4s;
}

.bi-twitter{
    content: "\f5ef";
    font-size: 24px;
    color:#fff;
}
.bi-twitter:hover {
    content: "\f5ef";
    font-size: 24px;
    color:#5100ff;
    text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
    transition: 0.4s;
}
.bi-instagram{
    content: "\f437";
    font-size: 24px;
    color:#fff;
}
.bi-instagram:hover{
    content: "\f437";
    font-size: 24px;
    color:#5100ff;
    text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
    transition: 0.4s;
}

.bi-facebook{
    content: "\f344";
    font-size: 24px;
    color:#fff;
}
.bi-facebook:hover{
    content: "\f344";
    font-size: 24px;
    color:#5100ff;
    text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
    transition: 0.4s;
}

.sub_seccion{ /*OK*/
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}
.columna-6 { /*OK*/
  flex: 0 0 auto;
  width: 15%;
}
.columna-3 { /*OK*/
    /*background-color: greenyellow;*/
    margin-top: 20px;
}
.form_3{ /*OK*/
    margin-top: 0em;
    text-align: center;
    color: #fff;
    text-align: left;
}
.form_3, p{ /*OK*/
    
    padding-top: 5px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 15px;
    
}
.email_new{
    /*background-color: red;*/
    display: flex;
}
.form-control_3 {
    display: block;
    width: 300px;
    margin-top: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*-------------------------------RESPONSIVE-------------------------------------*/

@media (max-width: 768px){


.header{
    background-color: #000000;
    height: 60px;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
}
#logo{
    width:80px;
    margin: 9px 0 0 10px;
    animation: fill 5s ease forwards 2.5s;
}
.nav{  
    justify-content: space-between;
    max-width: 992px;
    z-index: 1000;
    background-color: black;
}
.nav-link{
    color: white;
    padding: 0px 500px 0px 500px;
    font-size: 16px;

}
.nav-menu-link{
    color: white;
    padding: 0px 500px 0px 500px;
}


.nav-menu-link:hover,
.nav-menu-link:active{
    background: none;
    color: #ffffff;
    font-size: 16px;
    background-color: black;
    padding: 0px 500px 0px 500px;
    transition: 0.2s;  
}
.nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #6482ff;
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    /*overflow-y: auto;*/
    height: 262px;
    margin-top: 60px;/*medida responsive 400x708 DevTools*/
    /* acer 362px - 604px iphone 12pro*/
    top: 100%;
    transition: top 0.8s;
    z-index: 1000;
    
}
.nav-menu-item{
    line-height: 60px;
}
.oculta_1{
    display: none;
}
.oculta_2{
    display:block;
}
.dropdown{
    border-radius: 5px;
    position: relative;
    top: 3%;
    display: none;
}

.bi{
    font-size: 16px;
    color: white;
}
/*PRUEBA OPEN AND CLOSE*/

.nav-toggle{
    display: block;
 /*--posicion burger*/
}
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
/*FIN DE PRUEBA OPEN AND CLOSE*/
.nav-menu_visible{
    top: 0%;
    transition: 1.0s;
}
.nav-toggle:focus:not(:focus-visible){
    outline: none;
}


.btn-search, .form-control_1, .circle-sesion, .button_s span{
    display: none;
}

/*APP NAV*/

.elementosLinea{
    display: flex;
    list-style: none;
}
.elementosLinea ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    padding-bottom: 5px;  
}
.border-bottom {
    border-bottom: 1px solid #ffffff!important;
    width: auto;
}

.app{
    flex-direction: row;
    align-items: center;

    justify-content: space-between;   
    max-width: 992px;
    margin: 0 auto;
}
.app-link{
    color: white;
    margin-top: 10px;
    display: flex;
}
.app-menu-link{
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 16px;
    background-color:#7d97ff;
    /*border:1px solid #5100ff*/
}

.app-menu-link:hover{
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:black;
    transition: 0.4s;
    display: block;
}
.app-menu{
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    list-style: none;
    line-height: 32px;
    display: block;
}
.app-menu-item{
    font-size: 14px;
    margin: 0 10px;
    line-height: 28px;
    text-transform: uppercase;
    width: max-content;
    display: block;
}

/*FIN APP NAV*/
/*--SLIDER TWEENMAX--*/

#slider{
    margin-top: 20px;
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
  }
.slider-burger{
    background:#CF624A
  }
  .slider-astronaut{
    background:#22231D
  }
  .slider-coffee{
    background:#836C54
  }
.slider__container{
    position:relative;
    width:100%;
    height:100%;
    display:block;
    list-style:none;
  }
.slider-controls>.previous,.slider-controls>.next{
    position:absolute;
    width:50px;
    height:50px;
    display:block;
    cursor:pointer;
    border:none;
    outline:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-size:40px; /*TAMAÑO FLECHA*/
    background-color:transparent;
    background-repeat:no-repeat;
  }

  .slider-controls>.next{
    position:absolute;
    width:60px;
    height:50px;
}
  .slider-controls>.next{
    right:0px;
    /*background-image:url("svg/arrow-right.svg")*/

  }
  .slider-controls>.previous{
    left:20px;
    /*background-image:url("svg/arrow-left.svg")*/
  }

  img, .img_anuncio{
    max-width:100%;
  }
  .title{
    font-size:60px;
    font-weight:100;color:#FFF;
    text-transform:uppercase;
    line-height:1;
    font-family:"Baloo Bhai", sans-serif;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;

  }
/*--FIN DE SLIDER TWEENMAX*/
/*ICON NAV*/
.icon{
    display: flex;
    width: 100%;
}
.icon:hover{
    display: flex;
    width: 100%;
}
.icon-link{
    color: white; 
}

.icon, .icon-link ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    padding: 8px 60px;

}
.icon-bi{
    font-size: 22px;
    color: #ffffff;
    padding: 10px 22px 10px 22px;
}
.icon-bi:hover{
    font-size: 22px;
    color: #000000;
}
/*FIN DE ICON NAV*/

/*---3X GRID---*/
.grid-container{
    display: grid;
        grid-template-areas:
        "grid"
        "grid"
        "grid"; 
    }

 .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(134, 134, 134, 0.8);
    padding: 20px;
    margin: 10px 10px 0px 10px;
    font-size: 30px;
    text-align: center;
    width: 400px;
 }

 .line_borde{
    display: block;
    border-left: 0px solid rgb(160, 160, 160);
    border-right: 0px solid rgb(160, 160, 160);
  }

/*---FIN 3X GRID---*/

/*---FOOTER---*/

.seccion{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.email_new{
    /*background-color: red;*/
    margin-left: 25px;
}
.rr_ss{
    /* background-color: #7a7ef7; */
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0 18px 0 16px;   
    display: flex;
    flex-direction: column;
}
.rr_ss, p{
    font-size: 14px;
    text-align: center;
    color: white;

}
.bi_posicion{
    display: flex;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
.seccion-lista{ /*OK*/
    color: #fff;
    /*background-color: #0a53be;*/
    text-decoration: none;
    list-style: none;

    
}

.columna-6 { /* 3  secciones grid*/
    flex: 0 0 auto;
    width: 33%;
  }
  .flex-sm-row { /*EXAMINA EMIAL-BOTON*/
      flex-direction: row!important;
  }
  .casilla-2{ /*EXAMINA EMIAL-BOTON*/
      gap: 0.5rem!important;
  }
  .d-flex {/*EXAMINA TEXT-EMIAL-BOTON*/ /*VIRUS*/
      display: flex!important;
  }
  .lista {/*EXAMINA ICON RRSS*/
      padding-left: 0;
      list-style: none;
  }
  .form_3{ /*OK*/
      display: block;
      margin-top: 0em;
      text-align: center;
  }
  .form-control_3{ /*OK*/
      /* margin: -35px 20px 9px 130px; */
      display: block;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      
      .bi-github {
        content: "\F3ED";
        font-size: 24px;
        color:#fff;
    }
    .bi-github:hover {
        content: "\F3ED";
        font-size: 24px;
        color:#5100ff;
        text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
        transition: 0.4s;
    }
    
    .bi-twitter{
        content: "\f5ef";
        font-size: 24px;
        color:#fff;
    }
    .bi-twitter:hover {
        content: "\f5ef";
        font-size: 24px;
        color:#5100ff;
        text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
        transition: 0.4s;
    }
    .bi-instagram{
        content: "\f437";
        font-size: 24px;
        color:#fff;
    }
    .bi-instagram:hover{
        content: "\f437";
        font-size: 24px;
        color:#5100ff;
        text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
        transition: 0.4s;
    }
    
    .bi-facebook{
        content: "\f344";
        font-size: 24px;
        color:#fff;
    }
    .bi-facebook:hover{
        content: "\f344";
        font-size: 24px;
        color:#5100ff;
        text-shadow: 0 0 20px #6482ff, 0 0 20px #5100ff;
        transition: 0.4s;
    }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    height: 100%;
    margin-top: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    min-height: 100%;
    background-color: #cfa4ff;}

h4{
    color: white;
}    

.grid-container > * {
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*MODIFICA MEDIDA*/

}

.header{
    grid-area: header;
    background-color: #9a42ff;

}
.navbar{
    grid-area: navbar;
    background-color: #9a42ff;}
.main{
    grid-area: main;
    background-color: #9a42ff;}
.sidebar{
    grid-area: sidebar;
    background-color: #9a42ff;}
.row_1{
    grid-area: row_1;
    background-color: #9a42ff;}
.row_2{
    grid-area: row_2;
    background-color: #9a42ff;}
.footer{
    grid-area: footer;
    background-color: #9a42ff;}

/*--HOVER--*/ 

.header:hover{
    background-color: #008cff;
}
.navbar:hover{
    background-color: #008cff;
}
.main:hover{
    background-color: #008cff;
}
.sidebar:hover{
    background-color: #008cff;
}
.main:hover{
    background-color: #008cff;
}
.row_1:hover{
    background-color: #008cff;
}
.row_2:hover{
    background-color: #008cff;
}
.footer:hover{
background-color: #008cff;}
   



.grid-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    gap: 10px;
    grid-template:
      "header   header   header   header" 300px
      "navbar   navbar   navbar   sidebar" 300px
      "main   main   main   sidebar" 300px
      "row_1   row_1   row_2   row_2" 300px
      "footer   footer   footer   footer" 300px; 
}

@media (min-width: 400px) {
    .grid-container{
        grid-template:
        "header" 100px /*altura height*/
        "navbar" 100px
        "main" 100px
        "sidebar"  100px
        "row_1" 100px
        "row_2" 100px
        "footer" 100px;
    }
}

@media screen  and (min-width: 900px) {
    .grid-container{
        grid-template:
        "header   header   header   header"
        "navbar   navbar   navbar   sidebar"
        "main   main   main   sidebar"
        "row_1   row_1   row_2   row_2"
        "footer   footer   footer   footer"; 
    }
}

/*WHATSAPP*/

.circulo, .icono{
    background:#1dd742;
    border-radius:50px;
    width: calc(67.5px);
    height: calc(67.5px);
    padding: calc(7.5px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 42px;
    padding-top: 2px;
    padding-left: 8px;
    color: white;
    z-index: 100;
}
}